:root{
    --amarelo: #ffff00;
    --preto: #272727;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    margin-left: 100px;
    align-items: center;
    
}

header .Logo{
    margin-left: 5px;
    size: 10px;
}

header .botao{
    margin-left: 5px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*FILME PRINCIPAL*/



.botao{
    background-color: rgba(37, 37, 37, 0.5);
    border: none;
    color: white;
    cursor: pointer;
    transition: .3s ease all;
    justify-content: space-between;
}

.botao:hover{
    background-color: white;
    color: black;
}
  

.container{
    margin-left: 20px;
}


.box-filme{
    height: 70%;
    width: 70%;
    display: block;
}


.carrosel-filmes{
    margin-top: 10px;
    margin-right: 15px;
   
}

.esporte{
    font-size: 30px;
    margin-top: 30px;
}

.live{
    margin-top: 5px;
    margin-right: 15px;

}
