@media screen and (max-width:500px){
    header .container{
     width: 50%;
     display: flex;
     flex-direction: column;
    }
    header .botoes{
        margin-top: 5px;
        width: 190px;
    }
    .header .live{
        width: 50%;
        height: 50%;
        margin-right: 15px;

    }


}

